.App{
  width: 500px;
  margin: 0px auto;
}

.App--header{
  font-size: 1.5rem;
  color: black;
}
.App--header p{
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.App--header p > img{
  width: 45px;
  animation: App-logo-spin infinite 20s linear;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todo-container{
  padding: 15px;
  border: 1px solid #ddd;
}

.todo-container--summary{
  font-size: .75rem;
}
.todo-container--form{
  padding: 0px 15px;
  margin: 0px -15px;
  display: flex;
}
.todo-container--input-todo{
  width: 100%;
  /* display: flex; */
  /* flex: 1; */
  padding: 6px 12px;
}

.todo-container--list .item{
  padding: 6px 12px;
  border: 1px solid #ddd;
  border-top: none;
}
.todo-container--list .item.completed p{
  color: rgb(200, 198, 198);
}
.todo-container--list .item > p{
  margin: 0px;  
  /* font-size: 1.25rem; */
  display: flex;
  align-items: center;
}
.todo-container--list .item > p input{
  cursor: pointer;
  margin: 5px;
  /* margin-right: 5px; */
}
.todo-container--list .item > p a{
  margin-left: 10px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  background: red;
  font-size: .5rem;
  padding: 1px 3px;
  font-weight: 700;
}